@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
    overflow-y: hidden;
    
}

h1 {
	font-weight: bold;
	margin: 0;

    font-size: 20px;
    
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

#signin{
	max-width: 20px;
	margin-right: 2px;
	margin-top: 2px;
}

a{
    text-decoration: none;
    margin: 10px;
    font-size: 12px;
}

#button1 {
	border-radius: 10px;
	background-color: #8053FF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px ;
    margin-bottom: 10px;
    margin-top: 30px;
	letter-spacing: 1px;
    width: 100%;
}
#button2 {
    border-radius: 10px;
	background-color: black;
	color: #FFFFFF;
	font-size: 12px;
	padding: 8px;
    margin-bottom: 10px;
    margin-top: 30px;
	letter-spacing: 1px;
    width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	
}

#signup-link {
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	
}

#button2 img {
	margin-right: 5px; /* Adjust the margin as needed */
}
form {
	background-color: #FFFFFF;
	display: flex;
	justify-content: right;
	flex-direction: column;
	padding: 0 50px;
	height: 87%;
	text-align: right;
	
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.container {
	background-color: white;
	border-radius: 20px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
    margin-top: 30px;
    margin-bottom: -10px;
	width: 1440px;
    height: 900px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.logo-1{
    position: relative;
	top: 1;
	left: 73.5%;
	width: 25%;
	height: 20%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#logo{
    margin-bottom: 40px;
	
}

#logo-bottom{
	display: none;
}

.overlay-container {
	position: relative;
	top: 1;
	left: 70%;
	width: 29%;
	height: 50%;
	text-align: center;
}

footer{
	font-size: 12px;
	margin-top: 110px;
	
}
.image1s{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 40px;
}


/*Responsive*/



@media (max-width : 768px){


	body{
		overflow-x: hidden;
	}

	.form-container{
		display: none;
	}

	.overlay-container{
		left: 35%;

	}

	.logo-1{
		left: 39%;
		margin-bottom: 20px;
		height: 5%;
		margin-top: 30px;
		
	}

	#logo{
		display: none;
	}

	.overlay-container{
		text-align: center;
		
	}

	#logo-bottom{
		display: inline;
		width: 202px;
		height: 68px;
	}

	

}


